<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiaoyi.blog.dao.TypeMapper">
  <resultMap id="BaseResultMap" type="com.xiaoyi.blog.po.Type">
    <constructor>
      <idArg column="id" javaType="java.lang.Long" jdbcType="BIGINT" />
      <arg column="name" javaType="java.lang.String" jdbcType="VARCHAR" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List">
    id,name
  </sql>
  <delete id="deleteById" parameterType="java.lang.Long">
    delete from t_type
    where id = #{id,jdbcType=BIGINT}
  </delete>

  <select id="getType" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from t_type
    where id = #{id,jdbcType=BIGINT}
  </select>

</mapper>